body {
    background-color: #fbfbfb;
    font-family: 'Inter';
    color: #3e2e2e;
    line-height: 1.6;
    min-height: 100vh;
}

/* Hero Section */
.hero {
    background: #708d97;
    text-align: center;
    padding: 60px 32px;
    color: #3e2e2e;
    margin-bottom: 34px;
}

.hero h1 {
    font-family: 'Lora', serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
}
